body {
  margin: 0;
  background: linear-gradient(#87CEEB, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#logo {
  width: 200px;
  animation: spin 6s linear infinite;
}
@keyframes spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}
